.header-box {
    background-color: #F28D35;
}

.container-box {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.form {
    display: flex;
    width: 310px;
}

#findbt  {
    border: 0;
    background-color: black;
}

#findbt:hover{
    background-color: rgb(64, 64, 64);
}