@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header-box {
    font-family: 'Cafe24Ssurround';
    background-color: #F28D35;
}

.sbcname {
    margin-left: 10px;
    display: flex;
    padding: 0;
}

.sbcname p{
    font-size: 23px;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 0px;
}

.me-auto {
    font-size: 19px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.form {
    font-family: 'Cafe24SsurroundAir';
    display: flex;
    width: 310px;
}

#findbt  {
    border: 0;
    background-color: black;
}

#findbt:hover{
    background-color: rgb(64, 64, 64);
}