@font-face {
    font-family: 'Cafe24Ssurround';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

#bootimg-container
{
    width: 1200px;
    text-align: center;
}

#bootimg-container {
    width: 1090px;
}

.bootimg-box {
    height: 90%;
    padding-top: 20px;
    margin-top: 20px;
}

.img-info {
    height: 70%;
    margin-bottom: 15px;
}

#bootimg-container img {
    border-radius: 18px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
}

#boot-brand-name {
    font-family: 'Cafe24Ssurround';
    font-size: 1.5vw;
    text-align: center;
    width: 78%;
    margin: auto;
}

#boot-content {
    font-family: 'Cafe24SsurroundAir';
    font-size: 20px;
}