@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

footer{
    background: #F9CCA4;
    display: flex;
    flex-wrap: wrap;
    height: 30%;
    padding-bottom: 15px;
    margin-top: 100px;
}


div#footer div#content{
    margin: 0vh 0vw 0vh 10vw;
    width: 600px;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

div#footer div#sbclogo img{
    width: 250px;
}

div#footer div#footer1 {
    text-align: left;
}

div#footer div#footer1 h2{
    font-family: 'Cafe24Ssurround';
    margin: 40px 0px 0px 0px;
    font-size: 30px;
}

div#footer div#footer1 h3{
    font-family: 'Cafe24Ssurround';
    font-size: 22px;
}

div#footer div#footer1 p{
    font-family: 'Cafe24SsurroundAir';
    width: 30vw;
    font-size: 18px;
    line-height: 26px;
}

div#footer div#member{
    width: 350px;
    display: flex;
    margin-top: 5vh;
    margin-left: 25vw;
    line-height: 15px;
    display: flex;
}

@media screen and (max-width: 1500px) {
    div#footer div#member{
        display: none;
    }
}

div#footer div#frontMember{
    text-align: left;
}

div#footer div#frontMember h2{
    font-family: 'Cafe24Ssurround';
    font-size: 25px;
}

div#footer p{
    font-family: 'Cafe24SsurroundAir';
    margin-top: 12px;
    font-size: 18px;
}


div#footer div#backMember{
    margin-left: 55px;
    text-align: left;
}

div#footer div#backMember h2 {
    font-family: 'Cafe24Ssurround';
    font-size: 25px;
    margin-left: 26px;
}

div#footer div#backMember p {
    font-family: 'Cafe24SsurroundAir';
    font-size: 18px;
    margin-left: 26px;
}


div#footer div#backMember div#king p{
    margin-left: 26px;
}

div#footer div#king img {
    width: 19px;
    float: left;
}