@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#select-container
{
    background-color: #F9CCA4;
    justify-content: space-between;
    width: 1800px;
    width: 1200px;
    margin-bottom: 10px;
}

.select-box
{   
    text-align : center;
    display: flex;
    margin: 10px 0px 5px 0px;
}

.select-option {
    /* border: green solid 2px; */
    font-family: 'Cafe24SsurroundAir';
    font-size: 16px;
    font-weight: bold;
    margin: 12px 5px 5px 5px;
}

.optionbox {
    background-color: #F9CCA4;
    display: flex;
}

.selecttags{
    margin: 10px 0px;
}

.option {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 9px;
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: #60749E;
    border: 1px solid #60749E;
    border-radius: 30px;
    font-family: 'Cafe24SsurroundAir';
}

.cancle {
    font-size: 13px;
    margin-left: 5px;
}

select option[value=""][disabled] 
{
	display: none;
}

.resetbutton {
    margin-bottom: 13px;
    width: 30px;
    height: 30px;
}

#img-box {
    padding : auto;
}

.img-box {
    display: flex;
    justify-content: center;

}
