#select-container
{
    background-color: #F9CCA4;
    justify-content: space-between;
    width: 1090px;
}
.select-box
{
    display: flex;
    margin: 10px 0px 5px 0px;
}

.select-option {
    /* border: green solid 2px; */
    font-size: 14px;
    font-weight: bold;
    margin: 12px 5px 5px 5px;
}

.optionbox {
    background-color: #F9CCA4;
    display: flex;
}

.option {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 13px;
    color: white;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 30px;
}

.cancle {
    font-size: 10px;
    padding: 0px;
}

select option[value=""][disabled] 
{
	display: none;
}

.resetbutton {
    width: 28px;
    height: 28px;
}