/* 추가 */
@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.Banner {
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width: 800px) {
  #main {
    display: none;
  }
}

@media screen and (min-width: 800px){
  #error {
    display: none;
  }
}

#error{
  font-family: 'Cafe24Ssurround';
  font-size: 15px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin: 0 -150px;
}


