.selectbox {
    background-color: #F9CCA4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
    padding-bottom: 30px;
}
  
  .plusbox {
    background-color: #F9CCA4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  
  .selectoption {
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
  }
  
  .plusoption {
      margin-bottom: 30px;
      margin-top: 15px;
      margin-right: 15px;
      margin-left: 15px;
  }
  
  .optionsub{
    text-align: left;
    margin:10px;
  }
  
  label{
    margin:10px;
  }
  
  .subbox{
    border-right: 1px solid black;
    padding : 5px;
  }
  