@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#details-frame {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

#details-bannertitle {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 10px;
    width: 68vw;
}

#details-maintitle {
    text-align: center;
    width: 60vw;
    margin: 10px;
    font-family: 'Cafe24Ssurround';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 21px;
    color: #000000;
}

#details-hr {
    margin-top: 2vh;
    width: 42vw;
    border:1px solid #C4C4C4
}

#logo-container {
    text-align: center;

}

.main-logo {
    width: 160px;
    height: auto;
    object-fit: fill;
    object-position: center center;
    z-index: 0;
}

#bg {
    background-color: #ffcc99;
    margin-left: auto;
    margin-right: auto;
    width: 68vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

#left-side {
    /* background-color:aqua; */
    margin: 14px;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
}

#name {
    font-family: 'Cafe24Ssurround';
    font-weight: 900;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    margin: 15px 10px;
    background-color: #8B8B8B;
    border-radius: 15px;
    padding: 5px;
    color: azure;
    width: 15vw;
    height: auto;
}


#bcimg {
    width: 15vw;
    border-radius: 20px;
    margin: 0px 10px;
}

#right-side {
    margin: 40px 20px;
    width: 15vw;
    overflow-x:auto;
    overflow-y:visible;
    /* background-color: aliceblue; */
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    text-align: center;
}

/* title이랑 detail font 속성 동일하니 시간 되면 하나만 작성해서 같이 쓰기  */
.title {
    
    overflow: hidden;
    font-family: 'Cafe24Ssurround';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 270%;

    width: 12vw;
    height: auto;
    /* display: flex;
    flex-grow: 0; */
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 12px;
    color: #5C5C5C;
}

.detail {
    font-family: 'Cafe24Ssurround';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    width: 30vw;
    height: auto;
    text-align: center;
    line-height: 270%;
    flex-grow: 1;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 12px;
    color: #5C5C5C;
}