@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#frame {
    margin: 40px 0px;
}

#bannertitle {
    display: flex;
    flex-direction: row;
    /* width: 80%; */
    margin-left: 60px;
    overflow: hidden;
    margin-bottom: 10px;
}

#maintitle {
    /* position: absolute; */
    /* left: 20%;
    top: 12%;
    */
    font-family: 'Cafe24Ssurround';
    margin-right: 30px;
    margin-left: 30px;    
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}


#hr {
    margin-top: 2vh;
    width: 60vw;
    border:1px solid #C4C4C4
}


#mainbanner {
    width: 88%;
    margin-left: 5em;
}

.bnrimg {
    margin: 0;
    height: auto;
}

.introimgs{
    width: 65vw;
    display: block;
    margin-top: 2vh;
    margin-bottom: 1.5vh;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.slick-slide {
    box-sizing: content-box;
    background-color: #ffcc99;
    margin-bottom: 5px;
  }

  /* 반응형 시도
  /* 0~1046 */
  /* @media (max-width: 1460px) {
      body {
          background-color: #C4C4C4;
      }
  }  */

  /* 1460 ~ */
  @media (min-width: 1460px) {
      .bnrimg{
          height: 30vh;
          width: auto;
      }
  }