@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#frame {
    margin: 40px 0px;
}

#bannertitle {
    display: flex;
    flex-direction: row;
    /* width: 80%; */
    margin-left: 60px;
    overflow: hidden;
    margin-bottom: 10px;
}

#maintitle {
    /* position: absolute; */
    /* left: 20%;
    top: 12%;
    */
    margin-right: 30px;
    margin-left: 30px;    
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}


#hr {
    margin-top: 2vh;
    width: 68vw;
    border:1px solid #C4C4C4
}


#mainbanner {
    width: 88%;
    margin-left: 5em;
}

.bnrimg {
    /* margin-top: 11em; */
    height: 200px;
}

.imgs {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}

.slick-slide {
    /* margin-left:20px;
    margin-right:20px;  */
    box-sizing: content-box;
    /* border-radius: 30px; */
    background-color: #ffcc99;
  }
  .slick-list {
    /* margin-left: -20px; */
   }