@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#introApp{
    font-family: 'Cafe24Ssurround';
    margin-left: 50px;
}

#siteIntroduce{
    display: flex;
}

#siteIntroduce img{
    width: 350px;
    margin-top: 20px;
    margin-left: 20px;
}

#siteIntroduce #siteComment{
    margin-left: 20px;
}

#siteIntroduce h1{
    font-family: 'Cafe24Ssurround';
    margin-top: 75px;
    font-size: 40px;
}

#siteIntroduce p {
    line-height: 40px;
    width: 900px;
    font-size: 20px;
}

#memberIntroduce #memberTitle{
    font-family: 'Cafe24Ssurround';
    display: flex;
    font-size: 30px;
}

#frontMemberIntroduce h2 {
    font-size: 38px;
    padding: 30px 20px 20px 38px;
    background-color: orange;
    width: 350px;
    border-radius: 30px;
}

#frontMemberIntroduce h3{
    font-size: 36px;
    margin-top: 40px;
}

#backMemberIntroduce h3{
    font-size: 36px;
    margin-top: 40px;
}

#memberIntroduce #frontMemberIntroduce {
    font-family: 'Cafe24Ssurround';
    font-size: 30px;
}

#memberIntroduce #frontMemberIntroduce img{
    border-radius: 80%;
    width: 260px;
}

#front {
    margin-top: 50px;
    display: flex;
    
}

#fronttext{
    margin-left: 30px;
}

#memberIntroduce #frontMemberIntroduce #front2{
    margin-top: 50px;
    display: flex;
}

#sogam p{
    margin-left: 80px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 25px;
    line-height: 40px;
    margin-top: 35px;
    width: 45vw;
}

#sogam5 p{
    margin-left: 120px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 25px;
    line-height: 40px;
    margin-top: 35px;
    width: 45vw;
}

#sogam4 p{
    margin-left: 56px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 25px;
    line-height: 40px;
    margin-top: 35px;
    width: 45vw;
}

#sogam1 p{
    margin-left: 67px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 25px;
    line-height: 40px;
    margin-top: 35px;
    width: 45vw;
}

#backMemberIntroduce img{
    border-radius: 50%;
    width: 260px;
}

#backMemberIntroduce h2{
    font-size: 38px;
    padding: 30px 20px 20px 38px;
    background-color: orange;
    width: 350px;
    border-radius: 30px;
}

#backMemberIntroduce {
    font-family: 'Cafe24Ssurround';
    font-size: 30px;
    margin-top: 200px;
}

#back{
    margin-top: 50px;
    display: flex;
}

#backtext{
    margin-left: 30px;
}